<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ludens - Alunos - Aluno</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div th:replace="home :: header"></div>

  <div class="panel panel-default" style="margin: 60px">

     <!-- Main content -->
     <section class="content">
     <!-- Horizontal Form -->
       <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Alteração de Aluno</h3>
             <div class = "box-footer">
             </div>	

          		<form class="form-horizontal" method="POST" th:object="${aluno}" th:action="@{/alteraaluno}">
                <div class="box-body">
				            <div class="form-group">
				            		<label for="id" class="col-sm-2 control-label" th:text="*{id}"></label>
				            		<input type="hidden" class="col-sm-2 control-label" th:field="*{id}" readonly="readonly">
				            </div>
			                <div class="form-group">
			                  <label for="nome" class="col-sm-2 control-label">Nome</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{nome}" required="required" maxlength="50">
			                  </div>	
			                </div>
			                
			                <div class="form-group">
			                  <label for="rg" class="col-sm-2 control-label">Nacionalidade</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{nacionalidade}"  maxlength="50">
			                  </div>
			                </div>			   
			                
			                <div class="form-group">
			                  <label for="rg" class="col-sm-2 control-label">Estado civil</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{estadoCivil}"  maxlength="50">
			                  </div>
			                </div>			
			                
			                <div class="form-group">
			                  <label for="rg" class="col-sm-2 control-label">Rg</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{rg}"  maxlength="20">
			                  </div>
			                </div>

			                <div class="form-group">
			                  <label for="rg" class="col-sm-2 control-label">Orgão emissor / UF</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{rgOrgaoEmissorUF}"  maxlength="20">
			                  </div>
			                </div>	
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Cpf</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{cpf}"  maxlength="20">
			                  </div>	
			                </div>		]
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Profissão</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{profissao}"  maxlength="50">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Endereço</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{endereco}"  maxlength="80">
			                  </div>	
			                </div>			
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Numero</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{numero}"  maxlength="20">
			                  </div>	
			                </div>	
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Complemento</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{complemento}"  maxlength="50">
			                  </div>	
			                </div>	
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Bairro</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{bairro}"  maxlength="50">
			                  </div>	
			                </div>				     
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Cidade</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{cidade}"  maxlength="50">
			                  </div>	
			                </div>				                           			                			
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Estado</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{estado}"  maxlength="50">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">cep</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{cep}"  maxlength="20">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Telefone residencial</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{telefoneResidencial}"  maxlength="20">
			                  </div>	
			                </div>			
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Telefone Comercial</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{telefoneComercial}"  maxlength="20">
			                  </div>	
			                </div>					                
			                	                		 
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Celular</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{telefoneCelular}"  maxlength="20">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Email</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{email}"  maxlength="80">
			                  </div>	
			                </div>			
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Contato para emergência</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{contatoEmergenciaNome}"  maxlength="80">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Telefone para emergência</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{contatoEmergenciaTelefone}"  maxlength="20">
			                  </div>	
			                </div>				                		                	                			
			                                	                		                		                                	                		                
      				        <button type="submit" class="btn btn-primary pull-right">Alterar</button>
          			</div>
          		</form>
            </div>
    			</div>
    		</section>
        
	</div>
	
</body>
</html>