<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ludens - Cursos</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

     <div th:replace="home :: header"></div>

     <div class="panel panel-default" style="margin: 60px">

    		<!-- Main content -->
    		<section class="content">
		  <!-- Horizontal Form -->
          <div class="box box-primary">
            	<div class="box-header with-border">
	            	<h3 class="box-title">Curso</h3>
    		        <div class = "box-footer">
    		        </div>	
					<form class="form-horizontal"  method="POST" th:object="${curso}" th:action="@{/cursos}" >
						<div class="box-body">
			                <div class="form-group">
			                  <label for="titulo" class="col-sm-2 control-label">Título</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{titulo}" required="required" maxlength="100">
			                  </div>	
			                </div>
			                
			                <div class="form-group">
			                  <label for="cargaHoraria" class="col-sm-2 control-label">Carga horária</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{cargaHoraria}"  maxlength="3">
			                  </div>
			                </div>
			                
			                <div class="form-group">
			                  <label for="area" class="col-sm-2 control-label">Área</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{area}"  maxlength="50">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="preRequisto" class="col-sm-2 control-label">Pré-requisito</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{preRequisto}" maxlength="100">
			                  </div>	
			                </div>
			                
				            <div class="box-footer">						
								<button type="submit" class="btn btn-primary pull-right">Adicionar</button>
							</div>	
						</div>
					</form>
				</div>
			</div>
		</section>

        <div class="panel-body">
			<table class="table">
				<thead>
					<tr>
					    <th>Título</th>
						<th>Área</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curso : ${cursos}">
					    <td th:text="${curso.titulo}">titulo</td>
						<td th:text="${curso.area}">area</td>
						<td><a th:href="${'/excluicurso/' + curso.id}" >Excluir</a></td>
						<td><a th:href="${'/editacurso/' + curso}" >Alterar</a></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

