<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Ludens</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/home}">Ludens</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/pacientes}">Paciente</a></li>
            <li><a href="#" th:href="@{/profissionais}">Profissional</a></li>
            <li><a href="#" th:href="@{/cursos}">Curso</a></li>
            <li><a href="#" th:href="@{/alunos}">Aluno</a></li>
		
            <li><a href="#" th:href="@{/ministrantes}">Ministrante</a></li>        
            
            <li><a th:href="@{/logout}">Sair</a></li>
            
          </ul>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
            		<ul class="nav navbar-nav">
            			<li><a href="#" th:href="@{/alunoUpload}">Importar Aluno</a></li>
            		</ul>
            </div>

        </div>
      </div>
    </div>	
    

	<br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
	<div id="wrapper" style="width:100%; text-align:center">
		<img src="images/LogoClinica-Ludens.png" />
	</div>


</body>
</html>