<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ludens - Ministrantes - Ministrante</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div th:replace="home :: header"></div>

  <div class="panel panel-default" style="margin: 60px">

     <!-- Main content -->
     <section class="content">
     <!-- Horizontal Form -->
       <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Alteração de Ministrante</h3>
             <div class = "box-footer">
             </div>	

          		<form class="form-horizontal" method="POST" th:object="${ministrante}" th:action="@{/alteraministrante}">
                <div class="box-body">
				            <div class="form-group">
				            		<label for="id" class="col-sm-2 control-label" th:text="*{id}"></label>
				            		<input type="hidden" class="col-sm-2 control-label" th:field="*{id}" readonly="readonly">
				            </div>
			                <div class="form-group">
			                  <label for="nome" class="col-sm-2 control-label">Nome</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{nome}" required="required" maxlength="50">
			                  </div>	
			                </div>
			                
			                <div class="form-group">
			                  <label for="area" class="col-sm-2 control-label">Área</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{area}"  maxlength="50">
			                  </div>
			                </div>			                
			                
			                <div class="form-group">
			                  <label for="rg" class="col-sm-2 control-label">Rg</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{rg}"  maxlength="20">
			                  </div>
			                </div>
			                
			                <div class="form-group">
			                  <label for="cpf" class="col-sm-2 control-label">Cpf</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{cpf}"  maxlength="20">
			                  </div>	
			                </div>		
			                
			                <div class="form-group">
			                  <label for="dataNacimento" class="col-sm-2 control-label">Data nascimento</label>
			                  <div class="col-sm-10">
			                  	<input type="date" class="form-control" th:field="*{dataNacimento}" maxlength="10">
			                  </div>	
			                </div>
			                
			                <div class="form-group">
			                  <label for="telefoneCelular" class="col-sm-2 control-label">Celular</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{telefoneCelular}" maxlength="20">
			                  </div>	
			                </div>			                
	
			                <div class="form-group">
			                  <label for="telefoneFixo" class="col-sm-2 control-label">Telefone fixo</label>
			                  <div class="col-sm-10">
			                  	<input type="number" class="form-control" th:field="*{telefoneFixo}" maxlength="20">
			                  </div>	
			                </div>	
			                
							<div class="form-group">
			                  <label for="endereco" class="col-sm-2 control-label">Endereço</label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{endereco}" maxlength="80">
			                  </div>	
			                </div>	
			                
			                <div class="form-group">
			                  <label for="email" class="col-sm-2 control-label">Email</label>
			                  <div class="col-sm-10">
			                  	<input type="email" class="form-control" th:field="*{email}" maxlength="80">
			                  </div>	
			                </div>	
			                
			                <div class="form-group">
			                  <label for="observacao" class="col-sm-2 control-label"></label>
			                  <div class="col-sm-10">
			                  	<input type="text" class="form-control" th:field="*{observacao}" maxlength="200">
			                  </div>	
			                </div>	

      				        <button type="submit" class="btn btn-primary pull-right">Alterar</button>
          			</div>
          		</form>
            </div>
    			</div>
    		</section>
        
	</div>
	
</body>
</html>